:root{
    --Background: white;
    --MenuBackground: #444;
    --MenuHighlight: #666;
    --ItemHighlight: #5FD068;
    --text: black;
    --menu-text: white;
}

@media (prefers-color-scheme: dark) {
    :root{
        --Background: #131516;
        --MenuBackground: #333;
        --MenuHighlight: #555;
        --ItemHighlight: #5FD068;
        --text: white;
        --menu-text: white;
    }
}
