header {
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
    height: fit-content;
    margin-bottom: 100px;
    margin-top: 100px;

}

header p {
    font-size: 32px;
}

.LogoName {
    display: flex;
    align-items: center;
    margin-left: 2ch;
    margin-right: 2ch;
}

.LogoName img {
    width: auto;
    height: 80px;
    margin-right: 2ch;
    padding-bottom: 4px;
}

.InfoBlock {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.Section {
    margin-top: 80px;
}

.Section h2 {
    text-align: center;
}

article {
    margin-top: 40px;
    max-width: 350px ;
    flex-shrink: 1;

    h3 {
        text-align: left;
    }
}

#Title {
    font-size: 70px;
    text-align: center;
}

.AboutMe {
    margin-left: 10px;
    margin-right: 10px;
    min-width: 241px;
}

@media screen and (max-width: 1038px) {
    .AboutMe {
        order:1;
        margin-left: 0;
        margin-right: 0;
    }
}