@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input,
select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: "Akshar", sans-serif;
    color: var(--text);
}

body {
    background-color: var(--Background);
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 36px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 0;
}

p,
li,
a,
input {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

hr {
    border-style: solid;
    background-color: var(--MenuBackground);
}

a {
    width: auto;
    padding-right: 1ex;
    padding-left: 1ex;
    border: 1px solid var(--text);
    border-radius: 5px;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    fill: var(--text);
    color: var(--text);
    display: block;
    transition: all 0.1s;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

ul {
    > li:has(> a) {
        margin-left: 0;
    }
    > li:first-child > a {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    > li:last-child > a {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    > li > a {
        border-radius: 0;
    }
}

a:hover {
    fill: var(--ItemHighlight);
    color: var(--ItemHighlight);
    border: 1px solid var(--ItemHighlight);
    transition: all 0.1s;
}

a:active {
    fill: rgb(227, 255, 231);
    color: rgb(227, 255, 231);
    border: 1px solid rgb(227, 255, 231);
}

input {
    background: var(--Background);
    border-color: var(--MenuBackground);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin: 2px;
    color: var(--text);
    width: var(--InputWidth);
    box-shadow: 1px 1px 5px var(black) inset;
    transition: all 0.2s;
}

.Submit {
    background-color: transparent;
    fill: var(--text);
    color: var(--text);
    padding: 5px;
    transition: all 0.1s;
}

.Submit:hover {
    fill: var(--ItemHighlight);
    color: var(--ItemHighlight);
    background-color: var(--MenuHighlight);
    border-radius: 5px;
    border: 1px solid var(--ItemHighlight);
    transition: all 0.1s;
}

.Submit:active {
    fill: var(--ItemHighlight);
    color: var(--ItemHighlight);
}

.smallPrint {
    font-size: small;
    color: var(--text);
}
